Repository payjoin/rust-payjoin, pull requests merged in 2023-12, with the labels that each got.

#113 Add a check for receiver to validate minimum required fees
  payjoin-cli/src/app.rs
  payjoin/src/receive/error.rs
  payjoin/src/receive/mod.rs
  payjoin/src/receive/optional_parameters.rs
  payjoin/src/receive/v2.rs
  payjoin/tests/integration.rs
Labels: receive, api

#141 Include ohttp ctx in session ctx
  payjoin-cli/src/app.rs
  payjoin/src/send/mod.rs
  payjoin/tests/integration.rs
Labels: receive, api

#120 Supply & parse receiver response errors
  payjoin-cli/src/app.rs
  payjoin/Cargo.toml
  payjoin/src/send/error.rs
  payjoin/src/send/mod.rs
  payjoin/tests/integration.rs
Labels: send

#153 Signal keyconfig problem
  payjoin-cli/src/app.rs
  payjoin-relay/src/main.rs
  payjoin/tests/integration.rs
Labels: payjoin-cli, relay
