Repository payjoin/rust-payjoin, pull requests merged in 2024-06, with the labels that each got.

#270 Prepare Payjoin PSBT with no output keypaths
  payjoin/src/receive/mod.rs
  payjoin/tests/integration.rs
Labels: bug, receive

#275 Improve payjoin-cli ergonomics
  payjoin-cli/src/app/mod.rs
  payjoin-cli/src/app/v2.rs
Labels: enhancement, payjoin-cli

#282 Read v2 pj_directory, not v1 pj_endpoint
  payjoin-cli/src/app/v2.rs
Labels: bug, payjoin-cli

#280 Restore sender UTXOs before Payjoin Signing
  payjoin/src/send/mod.rs
Labels: enhancement, send, api

#284 Handle response status
  payjoin-cli/src/app/v2.rs
  payjoin/Cargo.toml
  payjoin/src/receive/v2.rs
  payjoin/src/send/error.rs
  payjoin/src/send/mod.rs
  payjoin/src/v2.rs
  payjoin/tests/integration.rs
Labels: receive, send, api

#281 Use sled Database to persist data
  .gitignore
  Cargo.lock
  payjoin-cli/Cargo.toml
  payjoin-cli/src/app/config.rs
  payjoin-cli/src/app/mod.rs
  payjoin-cli/src/app/v1.rs
  payjoin-cli/src/app/v2.rs
  payjoin-cli/src/db/error.rs
  payjoin-cli/src/db/mod.rs
  payjoin-cli/src/db/v2.rs
  payjoin-cli/src/main.rs
  payjoin-cli/tests/e2e.rs
  payjoin/src/receive/v2.rs
  payjoin/src/send/mod.rs
Labels: enhancement, payjoin-cli, api

#283 Resume multiple payjoins
  .github/workflows/rust.yml
  Cargo.lock
  payjoin-cli/Cargo.toml
  payjoin-cli/src/app/config.rs
  payjoin-cli/src/app/mod.rs
  payjoin-cli/src/app/v1.rs
  payjoin-cli/src/app/v2.rs
  payjoin-cli/src/db/v2.rs
  payjoin-cli/src/main.rs
  payjoin-cli/tests/e2e.rs
  payjoin-directory/src/lib.rs
  payjoin/src/lib.rs
  payjoin/src/receive/v2.rs
  payjoin/src/send/error.rs
  payjoin/src/send/mod.rs
  payjoin/src/uri.rs
  payjoin/tests/integration.rs
Labels: payjoin-cli, api

#305 cli: read Network::from_core_arg
  payjoin-cli/src/app/v1.rs
  payjoin-cli/src/app/v2.rs
Labels: bug, payjoin-cli

#277 Refactor output substitution
  payjoin-cli/src/app/v1.rs
  payjoin-cli/src/app/v2.rs
  payjoin/src/receive/mod.rs
  payjoin/src/receive/v2.rs
  payjoin/tests/integration.rs
Labels: receive, api
